body {
    min-height: 100vh;
  background: linear-gradient(150deg, #4c7fd2, #cdb77c)
}

*{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.app{
    background: linear-gradient(150deg, #a1b9df, #c9bea0);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 50px;
    padding: 30px;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.2);
}

.app h1 {
    font-size: 25px;
    color: #062b66;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn{
    background: transparent;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.3);
}

.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    display: none;
}

.correct{
    background:  #28a745

;
}
.incorrect{
    background: #dc3545
;
}


