body {
    background: linear-gradient(150deg, #858584, #dad3dafb);
    min-height: 100vh;
}

*{
    font-family:cursive;
}

.container{
    background: linear-gradient(150deg, #5b595a, #b3b2b0);
    width: 350px;
    margin: 200px auto 0;
    border-radius: 50px;
    padding: 30px;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.2);
   text-align: center;
    
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

h1{
    font-family: cursive;
    color: #fff;
    text-shadow:
        0 0 10px #313135,
        0 0 20px #313135;
}
.btn{
    background: #333538;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
}
h2{
    background: #cacfd6;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    padding-top: 10px;
}

#reset{
    background: #333538;
    color: #fff;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 5px;
}