* {
    font-family: cursive;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 400px;
    width: 600px;
    border-radius: 40px;
     box-shadow: 2px 4px 10px rgb(60, 58, 58);
}

.btn{
    margin-left: 40px;
    background: none;
    border-radius: 10px;
    height: 50px;
    width: 110px;
    font-size: large;
    font-weight: 700;
    border: none;
    box-shadow: 2px 4px 5px rgb(60, 58, 58);
}

h1{ 
    display: flex; 
    align-items: center; 
    gap: 20px;
}

.box, h1, .btn {
    transition: all 0.4s ease;
}

