*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #edd6fd, #917eea);
    color: #fff;
    padding-left: 10%;
    padding-top: 4%;
}
h1 img{
    height: 50px;
    width: 60px;
    padding-right: 10px;
}

h1{
 display: flex;
 align-items: center;
 font-size: 35px;
 color: #fff;
}

.btn {
    height: 40px;
    width: 150px;
    border-radius: 50px;
    background: linear-gradient(#9418fd, #571094);
    border: 0;
    font-size: 15px;
    margin-top: 30px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
     box-shadow: 0 0 10px rgba(108, 82, 220, 0.6);
}

.btn img {
    height: 20px;
    width: 20px;
}

.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    background: linear-gradient(#ebe8ee, #bdb2c6);
    min-height: 150px;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(198, 156, 235, 0.6);
    white-space: pre-wrap;
}

.input-box img {
    height: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.notes-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}