*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #9b0a0a, #b4438e);
    color: #fff;
    padding: 10px;
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}

.calculator h1 {
    font-size: 60px;
}
.calculator h1 span{
    color: #ffff76;
}

.input-box {
    height: 130px;
    width: 500px;
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;      /* center mein */
    justify-content: space-evenly;
    gap: 15px;
}

#date{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border: none;
    padding: 14px 20px;
    outline: 0;
    position: relative;
}

.btn {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #ffff76;
}

.input-box input::-webkit-calendar-picker-indicator {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}

#result{
    font-size: 20px;
    padding-top: 30px;
}

#result span{
    color: #ffff76;
}